// set body background as #f8f4ef

body {
  background: #f8f4ef;
}

.content-section {
  padding: 56px 20px 20px 20px;
  min-height: calc(100vh - 100px); /* Make sure sections are tall enough to trigger scroll */
}